services:
  backend:
    build: ./backend
    container_name: bestar_backend
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/data:/app/data
    expose:
      - "8000"

  frontend:
    build: ./frontend
    container_name: bestar_frontend
    restart: always
    ports:
      - "3005:80"
    depends_on:
      - backend
